<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" media="print" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>{{ site.title }}</title>
        <base href="{{ site.baseurl }}" target="_blank" />

        <meta charset="UTF-8">
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ site.keywords|join(', ') }}">
        <meta name="author" content="{{ site.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="title is-size-1">
            <h1>{{ site.name }}</h1>
        </div>
    </body>
</html>
